<div class="commondashboard_side">
    <div ui-view="@left"></div>
    <main class="side-collapse-container">
        <div class="main-container">
            <div ui-view="@subheader"></div>
            <!--    <div class="mobile_dashboard_heading">
                     <h3>Change Password</h3>
                   </div>-->
            <div class="content">
                <div class="mobile_dashboard_heading01">
                    <h3 class="visible-xs business_name" ng-if="myBusinessInfo !== undefined && myBusinessInfo !== ''">{{myBusinessInfo.business_name}}</h3>
                    <h3>Change Password</h3>
                </div>
                <div class="changepassword_page">
                    <div class="well well-sm">
                        <div class="myform">

                            <form name="userForm">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-4">
                                        <div class="form-group">
                                            <label>Password: <span class="color-red">*</span></label>
                                            <input type="password" 
                                                   ng-model="changePasswordForm.old_password" 
                                                   valid-method="submit"  
                                                   name="password" 
                                                   message-id="oldPasswordError"
                                                   validator="required"
                                                   class="form-control" placeholder="Password"
                                                   required-error-message="Password is required.">
                                            <span class="text-danger" id="oldPasswordError"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>New Password: <span class="color-red">*</span></label>
                                            <input type="password" 
                                                   ng-model="changePasswordForm.new_password" 
                                                   id="password"
                                                   valid-method="submit"  
                                                   name="new_password"
                                                   message-id="newPasswordError"
                                                   validator="required,minlength=6"
                                                   class="form-control" 
                                                   placeholder="New Password"
                                                   required-error-message="New password is required."
                                                   minlength-error-message="Password is too short.">
                                            <span class="text-danger" id="newPasswordError"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password: <span class="color-red">*</span></label>
                                            <input type="password" 
                                                   ng-model="changePasswordForm.confirm_password" 
                                                   valid-method="submit"
                                                   name="confirm_password"

                                                   message-id="confirmPasswordError"
                                                   validator="required,comparePassword=password"
                                                   class="form-control" 
                                                   placeholder="Confirm Password"
                                                   required-error-message="Confirm password is required.">
                                            <span class="text-danger" id="confirmPasswordError"></span>
                                        </div>
                                    </div>

                                </div>                 
                                <button type="button" data-ng-click="changePassword(userForm)" class="btn btn-danger" ng-disabled="updateBtnDisable">Update <i class="fa fa-spinner fa-1 fa-spin" ng-show="updateBtnLoader"></i></button>
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
