<div class="container" style="margin-top:30px">
    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Admin Login</strong></h3></div>
            <div class="panel-body">
                <form name="form" class="css-form" novalidate>
                    <div class="form-group">
                        <input type="email" class="form-control" ng-model="loginFrom.email" name="email" required="" placeholder="Email" >
                        <div ng-show="form.$submitted || form.email.$touched">
                            <span class="text-danger" ng-show="form.email.$error.required">Email is required.</span>
                            <span class="text-danger" ng-show="form.email.$error.email">This is not a valid email.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="loginFrom.password" name="password" required="" ng-minlength="6" ng-maxlength="15" placeholder="Password">
                        <div ng-show="form.$submitted || form.password.$touched">
                            <div  class="text-danger" ng-show="form.password.$error.required">Password is required.</div>
                            <span class="text-danger" ng-show="form.password.$error.minlength">Password is too short.</span>
                            <span class="text-danger" ng-show="form.password.$error.maxlength">Password is too long.</span>   
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="login()" ng-disabled="disableLoginSbmtBtn" value="Save"  class="btn btn-danger">Login<i ng-show="loader" class="fa fa-spinner fa-spin"></i></button>                     
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>