<main class="main-content innerpages">
    <div class="container">  
        <div class="loginsignup-page login-page">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 leftsection"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 rightsection"> 
                    <img class="img-responsive center-block logo" src="images/baya_logo.png">
                    <div class="clearfix"></div>   
                    <h2>Forgot password request</h2>
                    <form name="form" novalidate>
                        <div class="form-group">
                            <input type="email" class="form-control" ng-model="forgotPasswordForm.email" name="email" required="" placeholder="Email" >
                            <div ng-show="form.$submitted || form.email.$touched">
                                <span class="text-danger" ng-show="form.email.$error.required">Email is required.</span>
                                <span class="text-danger" ng-show="form.email.$error.email">This is not a valid email.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" ng-click="forgotPassword()" ng-disabled="disableSendBtn" value="Save"  class="btn btn-danger">Send<i ng-show="loader" class="fa fa-spinner fa-spin"></i></button>
                             
                        </div>
                    </form>
                    <div class="sign_bottom">
                        <h4>New Business? <a ui-sref="root.signup"  class="link-purple">CREATE ACCOUNT</a></h4>
                    </div>    
                </div>      

            </div>
        </div>


    </div>
</main>
<script>
   $(".headerChk").removeClass('navbar-fixed-top');
</script>

